# Ambiente e cache
.env
__pycache__/
*.pyc
.pytest_cache/

# Logs
logs/*
!logs/.gitkeep

# Dados
*.db
data/*.db
dvc-storage/

# Ambiente virtual
venv/
.venv/
.vercel
.env
.streamlit/secrets.toml

# Secrets e ambiente
.env
.env.*
!*.example
*.toml
*.toml.*
!*.example
